/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/*
!/public/css
!/public/image
!/public/favicon.ico
!/public/favicon.png
!/public/js
!/public/svg
!/public/template
!/public/font
!/public/.htaccess
!/public/index.php
!/public/robot.txt
!/public/filosofiweb
!/public/vendor/bears
!/public/plugin
!/public/xml
!/public/sitemap
/storage/imageIntervention/*
/storage/imageIntervention/
/resources/views/bears/force

!/public/vendor/
/public/vendor/force



.bears
.queue
.idea
**force

composer.lock
package-lock.json
gitpull.sh
!.gitignore
*laravel-excel*
